<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Tweets: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'application' %>
</head>
<body>
    <div id="container">
<% if @current_user %>
	<%= link_to "View My Timeline", root_path %> 
	| <%= link_to "View Historical Tweets", user_historic_tweets_path(@current_user) %>
	| <%= link_to "Edit My Account", edit_account_path %> 
	| <%= link_to "Logout", logout_path %>
<% end %>

<div id="flash_container">
	<% if flash[:notice]%>
	<div id="flash_notice"><%= flash[:notice]%></div>
	<% end %>
</div>

<%= yield %>
</div>
</body>
</html>
